@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --green: #3C7D36;
    --gray: #3A3A3A;
    --white: white;
    --black: black;
    --light-grey: #959595;
}

html{
    font-size: 10px;
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
    height: auto;
}

body{
    font-family: 'Playfair Display', serif;
}

h1, h2, h3{
    font-weight: 800;
    color: var(--gray);
    margin: 1.6rem 0;
}

h1{
    font-size: 4rem;
    line-height: 48px;
}

h2{
    font-size: 3rem;
    line-height: 32px;
}

h3{
    font-size: 1.6rem;
    line-height: 21px;
}

span{
    font-size: 1.6rem;
    color: var(--light-grey);
    line-height: 21px;
    font-weight: 700;
}

p{
    font-weight: 400;
    margin: 1.5rem 0;
    font-size: 1.6rem;
    color: var(--light-grey);
}

a{
    text-decoration: none;
    margin: 1.6rem;
    color: var(--gray);
    font-size: 1.8rem;
}

.color-logo{
    color: var(--green);
    font-weight: 700;
    font-size: 3rem;
}

.container{
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 2rem;
}

/* navigation */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

nav .menu a{
    font-weight: 700;
    line-height: 24px;
}

/* hero section */
.hero{
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.left{
    background-image: url(Rectangle\ 1.png);
    background-size: cover;
    height: 60vh;
    background-repeat: no-repeat;
    background-position: center;
}

.right{
    background: var(--green);
}

.content-box{
    background: white;
    position: absolute;
    padding: 3rem;
    width: 40%;
    top: 23%;
    left: 45%;
}

/* blog section */
.blog-container{
    width: 1080px;
    margin: 0 auto;
    padding: 0 14rem;
}

main{
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 9.3rem 0;
    grid-row: 5.2rem;
}

.blog{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5.2rem
}

.blog-post{
    background: rgba(52, 114, 47, 0.15);
    padding: 1.7rem 2rem;
}

/* responsive(mobile) */
@media(max-width:768px){

    /* navigation */
    nav{
        flex-direction: column;
    }

    /* hero section */
    h1{
        font-size: 3rem;
    }

    .hero{
        grid-template-columns: 1fr;
        margin-top: 2rem;
    }

    .content-box{
        width: 80%;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    /* blog section */
    main{
        grid-template-columns: 1fr;
    }

    .blog-container{
        grid-template-columns: 1fr;
    }
}

